{% extends 'base.html.twig' %}

{% block title %}Règlement !{% endblock %}

{% block body %}
    <div class="container-fluid with-content-gutters">
        <br><br><br>
        <div class="page-heading bordered">
            <div class="h3 mr-md-3 mb-0">Cash prize</div>
        </div>
        {#<div class="d-flex flex-row justify-content-center text-center">#}
            {#<div class="flex-fill" style="padding-top:16px;">#}
                {#<i class="fas fa-trophy fa-4x" style="color:#c0c0c0"></i>#}
                {#<ul class="pt-2 pl-0" style="list-style: none">#}
                    {#<li><a class="text-light" href="https://www.ankama-shop.com/fr/dofus/1429-figurine-dofus-chibi-le-iop.html?search_query=Une+figurine+Dofus+Chibi+Iop&results=1" target="_blank">Une figurine Dofus Chibi Iop</a></li>#}
                    {#<li><a class="text-light" href="https://www.ankama-shop.com/fr/dofus/637-peluche-chachakai.html?search_query=Une+peluche+Chachakai&results=1" target="_blank">Une peluche Chachakaï</a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="flex-fill">#}
                {#<i class="fas fa-trophy fa-5x" style="color:#ffd700"></i>#}
                {#<ul class="pt-2 pl-0" style="list-style: none">#}
                    {#<li><a class="text-light" href="https://www.ankama-shop.com/fr/dofus/1598-figurine-udx-dark-vlad.html" target="_blank">Une figure Dark Vlad</a></li>#}
                    {#<li><a class="text-light" href="https://www.ankama-shop.com/fr/maliki/97-coussin-maliki-lady-fleche.html" target="_blank">Un coussin Maliki</a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="flex-fill" style="padding-top:32px;">#}
                {#<i class="fas fa-trophy fa-3x" style="color:#cd7f32"></i>#}
                {#<ul class="pt-2 pl-0" style="list-style: none">#}
                    {#<li>Un tome 1 de Radiant</li>#}
                    {#<li><a class="text-light" href="https://www.ankama-shop.com/fr/dofus/598-tofu-peluche.html" target="_blank">Une peluche Tofu</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
        <h1 class="text-center">Incoming</h1>
    </div>
{% endblock %}
