{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="heading">
        <img class="logo" src="/assets/img/logo.png" alt="">
        <div class="h1 text-uppercase title d-none d-md-block"><span class="text-warning">16</span> participants</div>
        <div class="h1 text-uppercase sub-title d-none d-md-block"><span class="text-warning">1</span> seul vainqueur</div>
        <a class="btn btn-lg btn-warning font-weight-bold text-uppercase text-light" href="#">Je m'inscris</a>
    </div>
    <div class="container-fluid with-content-gutters">
        <h3 class="page-heading bordered">Planning </h3>
        <div class="row">
            <div class="col-md-6 col-xs-12">coucou</div>
            <div class="col-md-6 col-xs-12">coucou</div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}
